
.all
{
    height: 600px;
    width: 650px;
    margin-left: 480px;
    margin-top: 140px;
background-color: white
}
.fon
{
    height: 50px;
    width: 400px;
    margin-left: 40px;
    margin-top: 20px;
}